.wrapper{
        border-radius: 16px;
        display: flex; 
        flex-direction: row;
        align-items: center;
}

.first{
    float: left;
}
.second{
    margin: 0 20px 0 0;
    overflow: hidden;
}