
.art{
    background-color: #0000CD; 
    display: flex;
    flex-direction: row;;
    align-items: center ;
}
@media (max-width: 455px) {
    .art{
        display: flex;
        flex-direction: column;
        justify-content:center;
        background-color: red;
    }
}

